*{
  font-family: 'Lato', 'Arial', sans-serif;
  margin:0;
  padding:0;
}

.container{
  display: grid;
  height: 100vh;
  grid-gap: 3px;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px 40px auto 40px;
  /* grid-auto-rows: minmax(100px, auto); */
  /* grid-template-areas:
    "l l l l l l l l l l l l"
    "n n n n n n n n n n n n"
    "m m m m m m m m m m s s"
    "f f f f f f f f f f f f"; */

}

.logo{
  /* grid-area: l; */
  grid-column: 1/ -1;
  padding: 15px;
  background: goldenrod;
  text-align: center;
  padding: 10px;
  /*
  Trying to implement a 100% image for background
  */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(https://images.unsplash.com/photo-1486016006115-74a41448aea2?ixlib=rb-0.3.5&s=8c742ce8d4f7a85e00f25026efdfbc49&auto=format&fit=crop&w=2847&q=80);
  background-size: cover; */
  /* background-position: center; */

}

.navigation{
  /* grid-area: n; */
  grid-column: 1/ -1;
  background: lightblue;
}

.navigation ul{
  list-style: none;
  padding: 10px;
  text-align: center;
}

.navigation ul li{
  display: inline-block;
  margin-left: 20px;
}

.mainContent{
  grid-column: 1/ 10;
  /* grid-area: m; */
  background: indianred;
  padding-left: 20px;
}

.mainContent h1{
  padding-top:20px;
  margin-bottom: 10px;
}

.mainContent p:nth-child(2){
  color: darkslategray;
  text-decoration: underline;
}

.sideContent{
  /* grid-area: s; */
  grid-column: 10/13;
  background: goldenrod;
  display: grid;
}

.sideContent img{
  border-radius: 50%;
  height: 300px;
  width: 300px;
  padding: 10px;
  align-self: center;
  justify-self: center;
}

.sideContent span{
  display: block;
  text-align: center;
  padding: 50px;
  margin: 10px;
  border: 1px solid black;
  background: grey;
}

.sideContent p{
  padding: 10px;
}

.footer{
  /* grid-area: f; */
  grid-column: 1/-1;
  background: forestgreen;
  text-align:  center;
  padding: 10px;
}

/* .logo{
  display:grid;
  background:black;
  text-align: center;
  color: white;
  font-size: 3rem;
  padding: 50px;
}

.nav-item-home{
  grid-area:home;
}
.nav-item-blog{
  grid-area:blog;
}
.nav-item-about{
  grid-area:about;
}
.nav-item-contact{
  grid-area:contact;
}

.navigation{
  display: grid;
  grid-template-columns:repeat(12, 1fr);
  grid-template-areas: ". . . . home blog about contact . . . .";
  background: darkslategray;
  color: white;
  font-size: 1rem;
  padding: 15px;
}

.content{
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 50px;
  background: dimgray;
  padding: 30px 10px;
}

.mainContent{
  background: white;
  padding: 20px;
}

.sideContent{
  background: white;
  padding: 10px;
}

.footer{
  display: grid;
  grid-template-rows: 1fr;
  background: lightgrey;
  text-align: center;
} */